:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
  }
  body {
    background-color: rgb(0, 255, 200);
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar-brand-image {
    width: 89px;
    filter: brightness(0) invert(1);
  }

  @media only screen and (min-width: 600px) {
    body {
      /* background-color: lightblue; */
    }
  }